Repository geopandas/geopandas, pull requests merged in 2018-03, with the labels that each got.

#686 Explicitly set the dtype for geometry operations
  geopandas/base.py
  geopandas/tests/test_geom_methods.py
Labels: bug

#690 Building a GeoDataFrame from DataFrame
  examples/create_geopandas_from_pandas.py
Labels: documentation

#683 ENH: add support for plotting MultiPoints
  geopandas/plotting.py
  geopandas/tests/test_plotting.py
Labels: plotting

#662 REF: split cython code in vectorized.pyx and array.py
  geopandas/_block.py
  geopandas/array.py
  geopandas/base.py
  geopandas/geodataframe.py
  geopandas/geoseries.py
  geopandas/tests/test_block.py
  geopandas/tests/test_geodataframe.py
  geopandas/tests/test_geoseries.py
  geopandas/tests/test_vectorized.py
  geopandas/tests/test_vectorized_api.py
  geopandas/vectorized.pyx
Labels: geopandas-cython
