Repository geopandas/geopandas, pull requests merged in 2018-07, with the labels that each got.

#769 CI: use conda for travis
  .travis.yml
Labels: Testing

#770 ENH: pass array/series of values to column argument in plot
  geopandas/plotting.py
  geopandas/tests/test_plotting.py
Labels: plotting

#429 Overlay performance
  geopandas/tests/data/overlay/nybb_qgis/polydf.cpg
  geopandas/tests/data/overlay/nybb_qgis/polydf.dbf
  geopandas/tests/data/overlay/nybb_qgis/polydf.prj
  geopandas/tests/data/overlay/nybb_qgis/polydf.shp
  geopandas/tests/data/overlay/nybb_qgis/polydf.shx
  geopandas/tests/data/overlay/nybb_qgis/polydf2.cpg
  geopandas/tests/data/overlay/nybb_qgis/polydf2.dbf
  geopandas/tests/data/overlay/nybb_qgis/polydf2.prj
  geopandas/tests/data/overlay/nybb_qgis/polydf2.shp
  geopandas/tests/data/overlay/nybb_qgis/polydf2.shx
  geopandas/tests/data/overlay/nybb_qgis/qgis-difference.dbf
  geopandas/tests/data/overlay/nybb_qgis/qgis-difference.prj
  geopandas/tests/data/overlay/nybb_qgis/qgis-difference.qpj
  geopandas/tests/data/overlay/nybb_qgis/qgis-difference.shp
  geopandas/tests/data/overlay/nybb_qgis/qgis-difference.shx
  geopandas/tests/data/overlay/nybb_qgis/qgis-intersection.dbf
  geopandas/tests/data/overlay/nybb_qgis/qgis-intersection.prj
  geopandas/tests/data/overlay/nybb_qgis/qgis-intersection.qpj
  geopandas/tests/data/overlay/nybb_qgis/qgis-intersection.shp
  geopandas/tests/data/overlay/nybb_qgis/qgis-intersection.shx
  geopandas/tests/data/overlay/nybb_qgis/qgis-symmetric_difference.dbf
  geopandas/tests/data/overlay/nybb_qgis/qgis-symmetric_difference.prj
  geopandas/tests/data/overlay/nybb_qgis/qgis-symmetric_difference.qpj
  geopandas/tests/data/overlay/nybb_qgis/qgis-symmetric_difference.shp
  geopandas/tests/data/overlay/nybb_qgis/qgis-symmetric_difference.shx
  geopandas/tests/data/overlay/nybb_qgis/qgis-union.dbf
  geopandas/tests/data/overlay/nybb_qgis/qgis-union.prj
  geopandas/tests/data/overlay/nybb_qgis/qgis-union.qpj
  geopandas/tests/data/overlay/nybb_qgis/qgis-union.shp
  geopandas/tests/data/overlay/nybb_qgis/qgis-union.shx
  geopandas/tests/data/overlay/overlap/df1_df2_overlap-difference.geojson
  geopandas/tests/data/overlay/overlap/df1_df2_overlap-intersection.geojson
  geopandas/tests/data/overlay/overlap/df1_df2_overlap-symmetric_difference.geojson
  geopandas/tests/data/overlay/overlap/df1_df2_overlap-union.geojson
  geopandas/tests/data/overlay/overlap/df1_overlap.geojson
  geopandas/tests/data/overlay/overlap/df2_overlap.geojson
  geopandas/tests/data/overlay/polys/df1.geojson
  geopandas/tests/data/overlay/polys/df1_df2-difference-inverse.geojson
  geopandas/tests/data/overlay/polys/df1_df2-difference.geojson
  geopandas/tests/data/overlay/polys/df1_df2-intersection.geojson
  geopandas/tests/data/overlay/polys/df1_df2-symmetric_difference.geojson
  geopandas/tests/data/overlay/polys/df1_df2-union.geojson
  geopandas/tests/data/overlay/polys/df2.geojson
  geopandas/tests/test_overlay.py
  geopandas/tools/overlay.py
  setup.py
Labels: ops:overlay
