Repository geopandas/geopandas, pull requests merged in 2020-06, with the labels that each got.

#1385 BUG: Pass style_kwds to parts of multipart geometry
  geopandas/plotting.py
  geopandas/tests/test_plotting.py
Labels: plotting

#1378 ENH: Warn about geographic projection in distance-based methods
  geopandas/array.py
  geopandas/tests/test_geodataframe.py
  geopandas/tests/test_geom_methods.py
Labels: crs, enhancement

#1290 ENH: scaling y-axis for plots in geographic CRS
  geopandas/plotting.py
  geopandas/tests/test_plotting.py
Labels: crs, enhancement, plotting

#1173 ENH: pass list-like as categories to plot
  geopandas/plotting.py
  geopandas/tests/test_plotting.py
Labels: plotting

#1253 ENH: choropleth legend formatting
  ci/travis/35-minimal.yaml
  ci/travis/36-pd023.yaml
  ci/travis/36-pd024.yaml
  ci/travis/37-dev.yaml
  ci/travis/37-latest-conda-forge.yaml
  ci/travis/38-latest-conda-forge.yaml
  examples/choro_legends.ipynb
  geopandas/plotting.py
  geopandas/tests/test_plotting.py
  geopandas/tests/test_show_versions.py
  geopandas/tools/_show_versions.py
Labels: plotting

#1302 ENH: add labels keyword for schemed plot
  geopandas/plotting.py
  geopandas/tests/test_plotting.py
Labels: enhancement, plotting
